<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My Blog!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <header>
        <h1>Hello Blog !</h1>
      </header>
        {% block body %}
          {% if app.user %}
            <a href='{{ path('administration') }}'> Ajouter un article</a>
          {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
